.mouse-trail {
    @apply fixed inset-0 pointer-events-none;
  }
  
  .star {
    @apply absolute w-2 h-2 rounded-full bg-white blur pointer-events-none;
    animation: starTwinkle 1s infinite;
  }
  
  @keyframes starTwinkle {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  